body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    height: 100%;
}
.navbar{
    background: #1e293b;
    padding: 15px;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}
textarea{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    padding: 10px;
    background: #1e293b;
    color: white;
    border: none;
    border-radius: 8px;
}
select{
    padding: 8px;
    border-radius: 6px;
}
button{
    margin-top: 15px;
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
button:hover{
    background: #2563eb;
}
.result-section{
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
}